/* COLOR PALETTE

Ship Grey: #3C3940
Brick Red: #C83649
Aubergine: #360A17
*/

body {
    padding-top: 60px;
}

/* Navbar */
#nav-logo {
    height: 100%;
    display: inline-block;
}

.navbar-brand {
    padding: 0px;
}

.navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px;
}

.navbar-brand,
.navbar-fixed-top {
    min-height: 60px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 60px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}
/*END Navbar*/

/* Specific Forms */
#student-form {
    display: block;
}

#teacher-form{
    display: none;
}

#coordinator-form{
    display: none;
}
/*END Specific Forms*/

#file {
    display: none;
}

.upper {
    text-transform: uppercase;
}

.table-responsive {
    max-height: 75vh;
    overflow: auto;
}

form h2, form p {
    text-align: center;
}

.panel-heading {
    cursor: pointer;
}

.label {
    padding: .2em .6em;
}
