/* COLOR PALETTE

Ship Grey: #3C3940
Brick Red: #C83649
Aubergine: #360A17
*/

body {
    padding-top: 60px;
}

#nav-logo {
    height: 100%;
    display: inline-block;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand,
.navbar-nav li a {
    height: 60px;
    line-height: 60px;
    padding-top: 0px;
}

/* Specific Forms */
#student-form {
    display: block;
}

#teacher-form{
    display: none;
}

#coordinator-form{
    display: none;
}
/*END Specific Forms*/

/* Teacher Excel Actions */
.showLess {
    display: none !important;
}

.imSure {
    display: none !important;
}
/* END Teacher Excel Actions */

#file {
    display: none;
}

.upper {
    text-transform: uppercase;
}
