{% extends "base.html.j2" %}
{% block title %}Home{% endblock %}
{% set active_page = "about" %}

{% block content %}
    <!-- PAGE HEADER -->
    <div class="page-header">
        <h1>About</h1>
    </div>
{% endblock %}
