{% extends "base.html.j2" %}
{% block title %}Activate{% endblock %}

{% block page_header %}
    Account Activation
{% endblock %}

{% block content %}
    {% if register %}
        <h2 class="activate">Please check your email to activate your account.</h2>
    {% else %}
        <h2 class="activate text-success">Your account was successfully activated! <small>Click <a href="/login">here</a> to login.</small></h2>
    {% endif %}
{% endblock %}
