<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} - CSQC Grades</title>

        <!-- FAVICON -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- BOOTSTRAP CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- BOOTSTRAP JS-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- OWN CSS -->
        <link rel="stylesheet" href="/static/style.css">

        <!-- OWN JAVASCRIPT -->
        <script src="/static/script.js">

        </script>
    </head>
    <body>
        <!-- NAVBAR -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/static/img/logo.png" id="nav-logo"></a>
                </div>
                <div class="collapse navbar-collapse" id="collapse-nav">
                    <ul class="nav navbar-nav">
                        {% set active_page = active_page|default("index") %}
                        <li {{ 'class=active' if active_page == "about" }}><a href="/about">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if not user %}
                            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        {% else %}
                            <li><a href="/user/{{ user.username }}"><span class="glyphicon glyphicon-user"></span> {{ user.username }}</a></li>
                            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
