<!DOCTYPE html>
<html>
    <body>
        <div class="email-background" style="background: #eeeeee;padding: 10px;">
            <div class="pre-header" style="max-width: 500px;color: #eeeeee;font-family: sans-serif;font-size: 5px;">
                Thanks for signing up on CSQC Grades!
            </div>

            <div class="email-container" style="max-width: 500px;background: white;font-family: sans-serif;margin: 0 auto;overflow: hidden;border-radius: 5px;text-align: center;">
                <h1>Welcome to CSQC Grades, <span style="color: #3c5bff;">{{ username }}</span>!</h1>

                <p style="margin: 20px;font-size: 18px;font-weight: 300;color: #666666;line-height: 1.5;">Please click the button below to activate your account.</p>

                <div class="button" style="margin: 20px;">
                    <a href="http://{{ HOSTNAME }}/activate?email={{ email }}&id={{ id }}" style="text-decoration: none;display: inline-block;background: #3c5bff;color: white;padding: 10px 20px;border-radius: 5px;">Activate Account</a>
                </div>
            </div>

            <div class="footer" style="max-width: 500px;background: none;font-family: sans-serif;margin: 0 auto;overflow: hidden;border-radius: 5px;text-align: center;padding: 10px;font-size: 10px;">
                If you did not sign up to CSQC Grades, you can ignore this message.
            </div>
        </div>
    </body>
</html>
