{% extends "base.html.j2" %}
{% block title %}{{ grade }}-{{ section }} {{ subject }}{% endblock %}

{% block content %}

    <!-- PAGE HEADER -->
    <div class="page-header">
        <h1>{{ grade }}-{{ section }} {{ subject }}
            <a class="btn btn-default" href="/download/{{ grade }}/{{ section }}/{{ subject }}">
                <span class="glyphicon glyphicon-download"></span> Download .xlsx
            </a>
        </h1>
    </div>

    {{ table }}
{% endblock %}
