{% extends "base.html.j2" %}
{% block title %}{{ grade }}-{{ section }} {{ subject }}{% endblock %}

{% block page_header %}
    {{ grade }}-{{ section }} {{ subject }}
    {% if user.acc_type != "parent" %}
        <a class="btn btn-default" href="/download/{{ grade }}/{{ section }}/{{ subject }}">
            <span class="glyphicon glyphicon-download"></span> Download .xlsx
        </a>
        <a class="btn btn-default" href="/excels/{{ grade }}/{{ section }}/{{ subject }}?fullscreen=1" target="_blank">
            <span class="glyphicon glyphicon-search"></span> View Fullscreen
        </a>
    {% endif %}
{% endblock %}

{% block content %}

    <ul class="nav nav-tabs">
        {% for trimester in trimesters|sort %}
            <li><a data-toggle="tab" href="#{{ trimester }}-table">{{ trimester }}</a></li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for trimester in trimesters|sort %}
            <div id="{{ trimester }}-table" class="tab-pane fade">
                <h3>{{ trimester }} Trimester</h3>
                {{ trimesters[trimester] }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
