{% extends "base.html.j2" %}
{% block title %}{{ grade }}-{{ section }} {{ subject }}{% endblock %}

{% block content %}

    <form id="refresh" action="" method="post"></form>

    <!-- PAGE HEADER -->
    <div class="page-header">
        <h1>{{ grade }}-{{ section }} {{ subject }}
            <button class="btn btn-default" type="submit" form="refresh">
                <span class="glyphicon glyphicon-refresh"></span> Refresh
            </button>
            <a class="btn btn-default" href="/download/{{ grade }}/{{ section }}/{{ subject }}">
                <span class="glyphicon glyphicon-download"></span> Download .xlsx
            </a>
        </h1>
    </div>


    {% if table %}
        {{ table }}
    {% else %}
        <h1>Click refresh</h1>
    {% endif %}
{% endblock %}
