{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <h1>Index</h1>

    <!-- Teacher -->
    {% if user and user.acc_type == "teacher" %}
        <form class="form-horizontal" action="/upload" method="post" enctype="multipart/form-data">

            <!-- File -->
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse File<input id="file" type="file" name="file">
                    </span>
                </label>
                <input type="text" class="form-control" value="Select a file..." readonly>
            </div>

            <br>

            <!-- Grade -->
            <div class="form-group">
                <label class="control-label col-sm-1">Grade:</label>
                <div class="col-sm-11">
                    <input class="form-control" type="number" name="grade" placeholder="Grade" autocomplete="off" required>
                </div>
            </div>

            <!-- Section -->
            <div class="form-group">
                <label class="control-label col-sm-1">Section:</label>
                <div class="col-sm-11">
                    <input class="form-control upper" type="text" name="section" placeholder="Section (Ex: SMA)" autocomplete="off" required>
                </div>
            </div>

            <!-- Subject -->
            <div class="form-group">
                <label class="control-label col-sm-1">Subject:</label>
                <div class="col-sm-11">
                    <select class="form-control" name="subject">
                        <option value="CLE">CLE</option>
                        <option value="Math">Math</option>
                        <option value="Science">Science</option>
                        <option value="English">English</option>
                        <option value="Filipino">Filipino</option>
                        <option value="AP">AP</option>
                        <option value="TLE">TLE</option>
                        <option value="Computer">Computer</option>
                        <option value="Music">Music</option>
                        <option value="PE">PE</option>
                    </select>
                </div>
            </div>

            <!-- BUTTON -->
            <div class="form-group">
                <div class="col-sm-11">
                    <input class="btn btn-success" type="submit" value="Submit">
                </div>
            </div
            <input type="submit" value="Submit">
        </form>
    {% endif %}

    <!-- Student -->
    {% if user and user.acc_type == "student" %}
        {% for subject in subjects %}
            <h2>{{ subject }}</h2>
            <table class="table">
                <tr>
                    <th>Test</th>
                    <th>Score</th>
                    <th>Total Score</th>
                </tr>

                {% for test in subjects[subject] %}
                    <tr>
                        <td>{{ test }}</td>
                        <td>{{ subjects[subject][test][0] }}</td>
                        <td>{{ subjects[subject][test][1] }}</td>
                    </tr>
                {% endfor %}

            </table>
        {% endfor %}
    {% endif %}
{% endblock %}
