{% extends "base.html.j2" %}
{% block title %}Home{% endblock %}

{% macro popover(section, sections) %}
    <button class='btn btn-success' data-toggle='clickover' onclick='$(&quot;#showMore{{ sections.index(section) }}&quot;).popover(&quot;hide&quot;);'>Cancel</button>
    <button class='btn btn-danger pull-right' data-toggle='clickover' form='delete' type='submit' name='delete_index' value='{{ sections.index(section) }}'>Yes</button>
{% endmacro %}

{% block page_header %}
    {% if user.acc_type == "student" %}
        {{ user.grade }} - {{ user.section }}
        <button class="btn btn-default" type="submit" form="refresh"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
    {% elif user.acc_type == "parent" %}
        {% if children|length == 1 %}
            Your Child
        {% else %}
            Your Children
        {% endif %}
    {% elif user.acc_type == "teacher" %}
        {{ user.subject }} Excels
    {% elif user.acc_type == "coordinator"%}
        {{ user.subject }} Teachers
    {% else %}
        Welcome, guest!
    {% endif %}
{% endblock %}

{% block content %}
    {% if user %}
        {% if user.acc_type == "student" %}
        <!-- Student -->

            <form id="refresh" action="/" method="post"></form>

            {% if subjects and subjects != "Empty"%}
                <ul class="nav nav-tabs">
                {% for subject in subjects %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ subject }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for trimester in subjects[subject]|sort %}
                                <li><a data-toggle="tab" href="#{{ subject.replace(" ", "") }}-{{ trimester }}">{{ trimester }} Trimester</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for subject in subjects %}
                        {% for trimester in subjects[subject] %}
                            <div id="{{ subject.replace(" ", "") }}-{{ trimester }}" class="tab-pane fade">
                                <h3>{{ subject }} - {{ trimester }} Trimester</h3>
                                <!-- Table of Grades -->
                                {{ subjects[subject][trimester] }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% elif subjects == "Empty" %}
                <h2>There is currently no grades posted by your teachers yet, please check back later.</h2>
            {% else %}
                <h2>Click refresh</h2>
            {% endif %}

        {% elif user.acc_type == "parent"%}
        <!-- Parent -->
            <div class="panel-group" id="accordion">

            {% for child in children %}
                <div class="panel panel-default">
                    <!-- Panel Heading -->
                    <div class="panel panel-heading" data-toggle="collapse" data-parent="#accordion" href="#{{ child.username }}">
                        <h4 class="panel-title">
                            {{ child.firstname }}{{ child.mi() }}{{ child.lastname }} <span class="label label-primary">{{ child.grade }} - {{ child.section }}</span>
                        </h4>
                    </div>

                    <!-- Panel Body -->
                    <div id="{{ child.username }}" class="panel-collapse collapse">
                        <div class="list-group">
                            {% for subject in children[child] %}
                                <a class="list-group-item" href="/excels/{{ child.grade }}/{{ child.section }}/{{ subject }}?cn={{ child.CN }}">{{ subject }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            </div>

        {% elif user.acc_type == "teacher" %}
        <!-- Teacher -->

            <a class="btn btn-default" href="/upload">Upload .xlsx</a>
            <form id="delete" action="/delete" method="post"></form>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Grade</th>
                        <th>Section</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for section in sections %}
                    <tr>
                        <td>{{ section[0] }} </td>
                        <td>{{ section[1] }} </td>
                        <td>
                            <!-- Link to table button -->
                            <a class="btn btn-xs btn-success" href="excels/{{ section[0] }}/{{ section[1 ]}}/{{ user.subject }}">
                                <span class="glyphicon glyphicon-eye-open"></span> View
                            </a>

                            <!-- Delete button -->
                            <button id="showMore{{ sections.index(section) }}" class="btn btn-xs btn-danger" data-toggle="popover" title="Are you sure you want to delete <b>{{ section[0] }}-{{ section[1] }}</b>?" data-content="{{ popover(section, sections) }}" data-placement="bottom" data-html=true>
                                <span class="glyphicon glyphicon-remove"></span> Delete
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% elif user.acc_type == "coordinator" %}
        <!-- Coordinator -->

            <!-- Teacher View -->
            <div class="panel-group" id="accordion">
            {% for teacher in teachers %}
                <div class="panel panel-default">
                    <!-- Panel Heading -->
                    <div class="panel panel-heading" data-toggle="collapse" data-parent="#accordion" href="#{{ teacher.username }}">
                        <h4 class="panel-title">
                            {{ teacher.firstname }}{{ teacher.mi() }}{{ teacher.lastname }}
                        </h4>
                    </div>

                    <!-- Panel Body -->
                    <div id="{{ teacher.username }}" class="panel-collapse collapse">
                        <div class="list-group">
                            {% for section in loads(teacher.sections) %}
                                <a class="list-group-item" href="/excels/{{ section[0] }}/{{ section[1] }}/{{ teacher.subject }}">{{ section[0] }} - {{ section[1] }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

            <!-- Excel View -->

            <div class="page-header">
                <h1>Your Excels</h1>
            </div>

            <a class="btn btn-default" href="/upload">Upload .xlsx</a>
            <form id="delete" action="/delete" method="post"></form>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Grade</th>
                        <th>Section</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for section in sections %}
                    <tr>
                        <td>{{ section[0] }} </td>
                        <td>{{ section[1] }} </td>
                        <td>
                            <!-- Link to table button -->
                            <a class="btn btn-xs btn-success" href="excels/{{ section[0] }}/{{ section[1 ]}}/{{ user.subject }}">
                                <span class="glyphicon glyphicon-eye-open"></span> View
                            </a>

                            <!-- Delete button -->
                            <button id="showMore{{ sections.index(section) }}" class="btn btn-xs btn-danger" data-toggle="popover" title="Are you sure you want to delete <b>{{ section[0] }}-{{ section[1] }}</b>?" data-content="{{ popover(section, sections) }}" data-placement="bottom" data-html=true>
                                <span class="glyphicon glyphicon-remove"></span> Delete
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endif %}

    {% else %}
    <!-- Guest -->
        <p>Sign up <a href="/register">here</a> or login <a href="/login">here</a></p>
    {% endif %}
{% endblock %}
