{% extends "base.html.j2" %}
{% block title %}Home{% endblock %}

{% macro popover(section, sections) %}
    <button class='btn btn-success' data-toggle='clickover' onclick='$(&quot;#showMore{{ sections.index(section) }}&quot;).popover(&quot;hide&quot;);'>Cancel</button>
    <button class='btn btn-danger pull-right' data-toggle='clickover' form='delete' type='submit' name='delete_index' value='{{ sections.index(section) }}'>Yes</button>
{% endmacro %}

{% block content %}

    {% if user %}
        {% if user.acc_type == "student" %}
        <!-- Student -->

            <form id="refresh" action="/" method="post"></form>

            <!-- PAGE HEADER -->
            <div class="page-header">
                <h1>{{ user.grade }} - {{ user.section }}
                    <button class="btn btn-default" type="submit" form="refresh"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
                </h1>
            </div>

            {% if subjects %}
                <ul class="nav nav-tabs">
                {% for subject in subjects %}
                    <li><a data-toggle="tab" href="#{{ subject }}">{{ subject }}</a></li>
                {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for subject in subjects %}
                        <div id="{{ subject }}" class="tab-pane fade">
                            <h3>{{ subject }}</h3>

                            <!-- Table of Grades -->
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Test</th>
                                        <th>Score</th>
                                        <th>Total Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for test in subjects[subject] %}
                                        <tr>
                                            <td>{{ test }}</td>
                                            <td>{{ subjects[subject][test][0] }}</td>
                                            <td>{{ subjects[subject][test][1] }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h1>There is currently no grades posted by your teachers yet, please check back later.</h1>
            {% endif %}

        {% elif user.acc_type == "teacher" %}
        <!-- Teacher -->

            <!-- PAGE HEADER -->
            <div class="page-header">
                <h1>{{ user.subject }} Excels</h1>
            </div>

            <form action="/upload" method="get">
                <button type="submit" class="btn">Upload .xlsx</button>
            </form>

            <form id="delete" action="/delete" method="post"></form>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Grade</th>
                        <th>Section</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for section in sections %}
                    <tr>
                        <td>{{ section[0] }} </td>
                        <td>{{ section[1] }} </td>
                        <td>
                            <!-- Link to table button -->
                            <a class="btn btn-xs btn-success" href="excels/{{ section[0] }}/{{ section[1 ]}}/{{ user.subject }}">
                                <span class="glyphicon glyphicon-eye-open"></span> View
                            </a>

                            <!-- Delete button -->
                            <button id="showMore{{ sections.index(section) }}" class="btn btn-xs btn-danger" data-toggle="popover" title="Are you sure you want to delete {{ section[0] }}-{{ section[1] }}?" data-content="{{ popover(section, sections) }}" data-placement="bottom" data-html=true>
                                <span class="glyphicon glyphicon-remove"></span> Delete
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% elif user.acc_type == "coordinator" %}
        <!-- Coordinator -->

            <!-- PAGE HEADER -->
            <div class="page-header">
                <h1>{{ user.subject }} Teachers</h1>
            </div>

            <div class="panel-group" id="accordion">

            {% for teacher in teachers %}
                <div class="panel panel-default">
                    <!-- Panel Heading -->
                    <div class="panel panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#{{ teacher.username }}">{{ teacher.firstname }} {{ teacher.mi() }} {{ teacher.lastname }}</a>
                        </h4>
                    </div>

                    <!-- Panel Body -->
                    <div id="{{ teacher.username }}" class="panel-collapse collapse">
                        <ul class="list-group">
                            {% for section in loads(teacher.sections) %}
                                <li class="list-group-item"><a href="/excels/{{ section[0] }}/{{ section[1] }}/{{ teacher.subject }}">{{ section[0] }} - {{ section[1] }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}

            </div>

        {% endif %}
    {% endif %}
{% endblock %}
