{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">

        <!-- PAGE HEADER -->
        <div class="page-header">
            <h1>Sign Up</h1>
        </div>

        <!-- FORM -->
        <form class="form-horizontal" action="/register" method="post">

            <!-- USERNAME -->
            <div class="form-group{{ ' has-error has-feedback' if error == 'username' }}">
                <label class="control-label col-sm-4">Username:</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" name="username" placeholder="Enter username" autocomplete="off" required>
                    {% if error == "username" %}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    {% endif %}
                </div>
            </div>

            <!-- PASSWORD -->
            <div class="form-group">
                <label class="control-label col-sm-4">Password:</label>
                <div class="col-sm-5">
                    <input class="form-control" type="password" name="password" placeholder="Enter password" autocomplete="off" required>
                </div>
            </div>

            <!-- RETYPE PASSWORD -->
            <div class="form-group{{ ' has-error has-feedback' if error == 'password' }}">
                <label class="control-label col-sm-4">Retype Password:</label>
                <div class="col-sm-5">
                    <input class="form-control" type="password" name="re_password" placeholder="Retype password" autocomplete="off" required>
                    {% if error == "password" %}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    {% endif %}
                </div>
            </div>

            <!-- First name -->
            <div class="form-group">
                <label class="control-label col-sm-4">First name:</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" name="firstname" placeholder="First name" autocomplete="off" required>
                </div>
            </div>

            <!-- Middle name -->
            <div class="form-group">
                <label class="control-label col-sm-4">Middle name:</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" name="middlename" placeholder="Middle name" autocomplete="off" required>
                </div>
            </div>

            <!-- Last name -->
            <div class="form-group">
                <label class="control-label col-sm-4">Last name:</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" name="lastname" placeholder="Last name" autocomplete="off" required>
                </div>
            </div>

            <!-- RADIO -->
            <div class="form-group">
                <label class="control-label col-sm-4">Occupation:</label>
                <div class="col-sm-5">
                    <label class="radio-inline"><input type="radio" name="acc_type" value="student" id="student" onclick="radios()" checked>Student</label>
                    <label class="radio-inline"><input type="radio" name="acc_type" value="teacher" id="teacher" onclick="radios()">Teacher</label>
                    <label class="radio-inline"><input type="radio" name="acc_type" value="coordinator" id="coordinator" onclick="radios()">Coordinator</label>
                </div>
            </div>

            <!-- Student Form -->
            <div id="student-form">
                <!-- Student Grade -->
                <div class="form-group">
                    <label class="control-label col-sm-4">Grade:</label>
                    <div class="col-sm-5">
                        <input id="student-grade" class="form-control" type="number" name="grade" placeholder="Grade" autocomplete="off" required>
                    </div>
                </div>

                <!-- Student Section -->
                <div class="form-group">
                    <label class="control-label col-sm-4">Section:</label>
                    <div class="col-sm-5">
                        <input id="student-section" class="form-control upper" type="text" name="section" placeholder="Section (Ex: SMA)" autocomplete="off" required>
                    </div>
                </div>

                <!-- Student CN -->
                <div class="form-group">
                    <label class="control-label col-sm-4">CN:</label>
                    <div class="col-sm-5">
                        <input id="student-cn" class="form-control" type="number" name="CN" placeholder="CN" autocomplete="off" required>
                    </div>
                </div>
            </div>

            <!-- Teacher Form -->
            <div id="teacher-form">

                <!-- Teacher New Password -->
                <div class="form-group{{ ' has-error has-feedback' if error == 'teacher' }}">
                    <label class="control-label col-sm-4">New Teacher's Password:</label>
                    <div class="col-sm-5">
                        <input id="teacher-pass"class="form-control" type="password" name="new_teacher_pass" placeholder="Password" autocomplete="off">
                        {% if error == "teacher" %}
                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        {% endif %}
                    </div>
                </div>

                <!-- Teacher Subject -->
                <div class="form-group">
                    <label class="control-label col-sm-4">Subject:</label>
                    <div class="col-sm-5">
                        <select class="form-control" name="new_teacher_subject">
                            <option value="CLE">CLE</option>
                            <option value="Math">Math</option>
                            <option value="Science">Science</option>
                            <option value="English">English</option>
                            <option value="Filipino">Filipino</option>
                            <option value="AP">AP</option>
                            <option value="TLE">TLE</option>
                            <option value="Computer">Computer</option>
                            <option value="Music">Music</option>
                            <option value="PE">PE</option>
                        </select>
                    </div>
                </div>

            </div>

            <!-- Coordinator Form -->
            <div id="coordinator-form">

                <!-- Coordinator New Password -->
                <div class="form-group{{ ' has-error has-feedback' if error == 'coordinator' }}">
                    <label class="control-label col-sm-4">New Coordinator's Password:</label>
                    <div class="col-sm-5">
                        <input id="coordinator-pass" class="form-control" type="password" name="new_coord_pass" placeholder="Password" autocomplete="off">
                        {% if error == "coordinator" %}
                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        {% endif %}
                    </div>
                </div>

                <!-- Coordinator Subject -->
                <div class="form-group">
                    <label class="control-label col-sm-4">Subject:</label>
                    <div class="col-sm-5">
                        <select class="form-control" name="new_coord_subject">
                            <option value="CLE">CLE</option>
                            <option value="Math">Math</option>
                            <option value="Science">Science</option>
                            <option value="English">English</option>
                            <option value="Filipino">Filipino</option>
                            <option value="AP">AP</option>
                            <option value="TLE">TLE</option>
                            <option value="Computer">Computer</option>
                            <option value="Music">Music</option>
                            <option value="PE">PE</option>
                        </select>
                    </div>
                </div>

            </div>

            <!-- BUTTON -->
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-1">
                    <input class="btn btn-success" type="submit" value="Submit">
                </div>
            </div>

            {% if error %}
                <div class="alert alert-danger alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    {{ "Username is already taken." if error == "username" }}
                    {{ "Password does not match." if error == "password" }}
                    {{ "New teacher's password is incorrect." if error == "teacher" }}
                    {{ "New coordinator's password is incorrect." if error == "coordinator" }}
                </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
