        {% for trimester in trimesters %}
            <div id="{{ trimester }}" class="table-responsive">
                <table class="table table-bordered table-condensed">
                    {% for row in trimesters[trimester] %}
                        <tr>
                        {% for col in row %}
                            {% if trimesters[trimester].index(row) in (0, 1, 2, 3) %}
                                <th colspan="{{ col[1] }}">{{ col[0] }}</th>
                            {% else%}
                                <td colspan="{{ col[1] }}">{{ col[0] }}</td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
