{% extends "base.html.j2" %}
{% block title %}Upload{% endblock %}

{% block page_header %}
    Upload .xlsx
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">

        <!-- FORM -->
        <form class="form-horizontal" action="/upload" method="post" enctype="multipart/form-data">

            <!-- File -->
            <div class="input-group col-sm-offset-3 col-sm-6">
                <label class="input-group-btn">
                    <span class="btn btn-default">
                        Browse File<input id="file" type="file" name="file" accept=".xlsx,.xls">
                    </span>
                </label>
                <input type="text" class="form-control" value="Select a file..." readonly>
            </div>

            <br>

            <!-- Grade -->
            <div class="form-group">
                <label class="control-label col-sm-4" for="grade">Grade:</label>
                <div class="col-sm-5">
                    <input id="grade" class="form-control" type="number" name="grade" placeholder="Grade" autocomplete="off" required>
                </div>
            </div>

            <!-- Section -->
            <div class="form-group">
                <label class="control-label col-sm-4" for="section">Section:</label>
                <div class="col-sm-5">
                    <input id="section" class="form-control upper" type="text" name="section" placeholder="Section (Ex: SMA)" autocomplete="off" required>
                </div>
            </div>

            <!-- BUTTON -->
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-1">
                    <input class="btn btn-success" type="submit" value="Submit">
                </div>
            </div
            <input type="submit" value="Submit">
        </form>

        {% if error %}
            <div class="alert alert-danger alert-dismissable fade in col-sm-offset-4 col-sm-5">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span class="glyphicon glyphicon-warning-sign"></span>
                File is not an excel file.
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissable fade in col-sm-offset-4 col-sm-5">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <span class="glyphicon glyphicon-ok"></span>
                File successfully uploaded! :) Click <a href="/">here</a> to go back to table of excels.
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
