{% extends "base.html.j2" %}
{% block title %}{{ view_user.username }}{% endblock %}

{% block content %}

    <!-- PAGE HEADER -->
    <div class="page-header">
        <h1>{{ view_user.firstname }} {{ view_user.middlename }} {{ view_user.lastname }} <small>{{ view_user.username }} <small>{{ view_user.acc_type }}</small></small></h1>
    </div>

    {% if user == view_user %}
        <h2 align="center">Change Password</h2>

        <form class="form-horizontal" action="" method="post">

            <!-- ORIGINAL PASSWORD -->
            <div class="form-group{{ ' has-error has-feedback' if error == 'orig_pass'}}">
                <label class="control-label col-sm-4">Original Password:</label>
                <div class="col-sm-5">
                    <input class="form-control" type="password" name="orig_pass" placeholder="Enter original password" autocomplete="off" required>
                    {% if error == "orig_pass" %}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    {% endif %}
                </div>
            </div>

            <!-- NEW PASSWORD -->
            <div class="form-group">
                <label class="control-label col-sm-4">New Password:</label>
                <div class="col-sm-5">
                    <input class="form-control" type="password" name="new_pass" placeholder="Enter new password" autocomplete="off" required>
                </div>
            </div>

            <!-- RETYPE PASSWORD -->
            <div class="form-group{{ ' has-error has-feedback' if error == 're_new_pass'}}">
                <label class="control-label col-sm-4">Retype New Password:</label>
                <div class="col-sm-5">
                    <input class="form-control" type="password" name="re_new_pass" placeholder="Retype new password" autocomplete="off" required>
                    {% if error == "re_new_pass" %}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    {% endif %}
                </div>
            </div>

            <!-- BUTTON -->
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-1">
                    <input class="btn btn-success" type="submit">
                </div>
            </div>

            {% if error %}
                <div class="alert alert-danger alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    {{ "Original password is incorrect." if error == "orig_pass" }}
                    {{ "Password and retype password does not match." if error == "re_new_pass" }}
                </div>
            {% endif %}

            {% if success %}
                <div class="alert alert-success alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <span class="glyphicon glyphicon-ok"></span>
                    Successfully changed password!
                </div>
            {% endif %}
        </form>
    {% endif %}
{% endblock %}
