{% extends "base.html.j2" %}
{% block title %}{{ view_user.username }}{% endblock %}

{% block content %}

    <!-- PAGE HEADER -->
    <div class="page-header">
        <h1>{{ view_user.firstname }} {{ view_user.middlename }} {{ view_user.lastname }} <small>{{ view_user.username }} <small>{{ view_user.acc_type }}</small></small></h1>
    </div>

    {% if user == view_user %}
        <form class="form-horizontal" action="" method="post">

            <h2 align="center">Change Password</h2>

            <!-- ORIGINAL PASSWORD -->
            <div class="form-group{{ ' has-error has-feedback' if error == 'orig_pass'}}">
                <label class="control-label col-sm-4" for="orig_pass">Original Password:</label>
                <div class="col-sm-5">
                    <input id="orig_pass" class="form-control" type="password" name="orig_pass" placeholder="Enter original password" autocomplete="off" required>
                    {% if error == "orig_pass" %}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    {% endif %}
                </div>
            </div>

            <!-- NEW PASSWORD -->
            <div class="form-group">
                <label class="control-label col-sm-4" for="new_pass">New Password:</label>
                <div class="col-sm-5">
                    <input id="new_pass" class="form-control" type="password" name="new_pass" placeholder="Enter new password" autocomplete="off" required>
                </div>
            </div>

            <!-- RETYPE PASSWORD -->
            <div class="form-group{{ ' has-error has-feedback' if error == 're_new_pass'}}">
                <label class="control-label col-sm-4" for="re_new_pass">Retype New Password:</label>
                <div class="col-sm-5">
                    <input id="re_new_pass" class="form-control" type="password" name="re_new_pass" placeholder="Retype new password" autocomplete="off" required>
                    {% if error == "re_new_pass" %}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    {% endif %}
                </div>
            </div>

            <!-- BUTTON -->
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-1">
                    <input class="btn btn-success" type="submit" name="submit" value="Change Password">
                </div>
            </div>

            <div class="row">
                {% if error in ("orig_pass", "re_new_pass") %}
                    <div class="alert alert-danger alert-dismissable fade in col-sm-offset-4 col-sm-5">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        {{ "Original password is incorrect." if error == "orig_pass" }}
                        {{ "Password and retype password does not match." if error == "re_new_pass" }}
                    </div>
                {% endif %}

                {% if success %}
                    <div class="alert alert-success alert-dismissable fade in col-sm-offset-4 col-sm-5">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span class="glyphicon glyphicon-ok"></span>
                        Successfully changed password!
                    </div>
                {% endif %}
            </div>
        </form>

        <form class="form-horizontal" action="" method="post">

            <div class="row">
                <h2 class="text-danger">Delete Account</h2>
                <p>Type your username and password to delete your account.</p>
            </div>

            <!-- USERNAME -->
            <div class="form-group{{ ' has-error has-feedback' if error == 'username'}}">
                <label class="control-label col-sm-4" for="username">Username:</label>
                <div class="col-sm-5">
                    <input id="username" class="form-control" type="text" name="username" placeholder="Enter username" autocomplete="off" required>
                    {% if error == "username" %}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    {% endif %}
                </div>
            </div>

            <!-- PASSWORD -->
            <div class="form-group{{ ' has-error has-feedback' if error == 'password'}}">
                <label class="control-label col-sm-4" for="password">Password:</label>
                <div class="col-sm-5">
                    <input id="password" class="form-control" type="password" name="password" placeholder="Enter password" autocomplete="off" required>
                    {% if error == "password" %}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    {% endif %}
                </div>
            </div>

            <!-- BUTTON -->
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-1">
                    <input class="btn btn-danger" type="submit" name="submit" value="Delete Account">
                </div>
            </div>

            {% if error in ("username", "password") %}
                <div class="alert alert-danger alert-dismissable fade in col-sm-offset-4 col-sm-5">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    {{ "Username is incorrect" if error == "username"}}
                    {{ "Password is incorrect" if error == "password"}}
                </div>
            {% endif %}
        </form>
    {% endif %}
{% endblock %}
